<a href="https://colab.research.google.com/github/Viratvenom/AMIT-KUMAR-SINGH/blob/main/bank_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project Name -**
**Bank Loan Case Study Prediction**
**Project Type** **-(data analysis)**

**Project by -** **AMIT KUMAR SINGH**

**Data analyst Trainee at trainity**

**The loan providing companies find it hard to give loans to the people due to their insufficient or non-existent credit history. Because of that, some consumers use it as their advantage by becoming a defaulter. The data given below contains the information about the loan application at the time of applying for the loan. It con-tains two types of scenarios:**

* **The company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default. The company can utilize this knowledge for its portfolio and risk assessmen**

**GitHub Link -**

**Problem Statement :**
**You are required to provide a detailed report for the below data record mentioning the answer to the questions that follows:**

* **Present the overall approach of the analysis.** Mention the problem statement and the analysis approach briefly
* Indentify the missing data and use appropriate method to deal with it. (Remove columns/or replace it with an appropriate value)
**Hint:** Note that in EDA, since it is not necessary to replace the missing value, but if you have to replace the missing value, what should be the approach. Clearly mention the approach.
Identify if there are outliers in the dataset. Also, mention why do you think it is an outlier. Again, remember that for this exercise, it is not necessary to remove any data points.
* **Identify if there is data imbalance in the data.** Find the ratio of data imbalance.
Hint: Since there are a lot of columns, you can run your analysis in loops for the appropriate columns and find the insights.
* Explain the results of univariate, segmented univariate, bivariate analysis, etc. in business terms.
* Find the top 10 correlation for the Client with payment difficulties and all other cases (Target variable). Note that you have to find the top correlation by segmenting the data frame w.r.t to the target variable and then find the top correlation for each of the segmented data and find if any insight is there. Say, there are 5+1(target) variables in a dataset: Var1, Var2, Var3, Var4, Var5, Target. And if you have to find top 3 correlation, it can be: Var1 & Var2, Var2 & Var3, Var1 & Var3. Target variable will not feature in this correlation as it is a categorical variable and not a continuous variable which is increasing or decreasing.
* **Include visualizations and summarize the most important results in the presentation**You are free to choose the graphs which explain the numerical/categorical variables. Insights should explain why the variable is important for differentiating the clients with payment difficulties with all other cases.

**Define Your Business Objective?**

Using data visualization on our target variable bank loan case, we can clearly see the

**Dataset Loading**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt
import math
import warnings
warnings.filterwarnings('ignore')
import seaborn

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df=pd.read_csv('/content/application_data.csv')

In [ ]:
df.head()

**Dataset Rows & Columns count**

In [ ]:
# Dataset Rows & Columns count
df.shape

In [ ]:
df.TARGET.value_counts()

In [ ]:
# Checking for duplicate records
df.duplicated().value_counts()

In [ ]:
# Dataset Duplicate Value Count
print('Duplicate entries: {}'.format(df.duplicated().sum()))
print('{}% rows are duplicate.'.format(round((df.duplicated().sum()/df.shape[0])*100),2))
df.drop_duplicates(inplace = True)

**Dataset Information**

 Where as in this dataset the shape of application 157266 rows and 122 columns .and my data type is object.

Their is no any duplicate entries.

* SK_ID_CURR: It refers to the unique identifier of each loan application in the dataset. It is a numerical value assigned to each applicant.

* TARGET: It is a binary variable that indicates whether a loan application had payment difficulties or not. The value 1 indicates that the applicant had difficulties, and 0 indicates no difficulties.

* NAME_CONTRACT_TYPE: It represents the type of loan contract associated with the application. It can have two possible values: "Cash loans" or "Revolving loans". Cash loans are standard loans with a fixed number of payments, while revolving loans are credit lines where the borrower can make repeated use of the funds.

* CODE_GENDER: It represents the gender of the applicant. It can have three possible values: "M" for male, "F" for female, and "XNA" for gender not available.

* FLAG_OWN_CAR: It indicates whether the applicant owns a car or not. It can have two possible values: "Y" for yes, indicating the applicant owns a car, and "N" for no, indicating the applicant does not own a car.

* FLAG_OWN_REALTY: It indicates whether the applicant owns real estate or not. It can have two possible values: "Y" for yes, indicating the applicant owns real estate, and "N" for no, indicating the applicant does not own real estate.

* CNT_CHILDREN: It represents the number of children the applicant has.

* AMT_INCOME_TOTAL: It denotes the total income of the applicant.

* AMT_CREDIT: It represents the total amount of credit requested by the applicant.

* AMT_ANNUITY: It denotes the annuity amount of the loan, which is the periodic payment made by the borrower to repay the loan.
...

**Data pre-processing:**

* Summary Statistics

* Dealing with outliers

* Handling Missing Values

* Feature Scaling

Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.info()

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

**Handel missing value**

**sorted the variable which contains more than 50% missing value**

Variables with a large number of missing values may indicate issues with data quality or data collection processes. If a variable has more than 50% missing values, it may not provide reliable or meaningful information for analysis. Removing such variables helps maintain the overall data quality.

Large datasets with numerous missing values can slow down computational processes and increase memory usage. Removing unnecessary variables with a significant amount of missing data can improve computational efficiency, especially if these variables are not expected to contribute substantially to the analysis or modeling

In [ ]:
missing_percentage = (df.isnull().sum() * 100 / len(df)).sort_values(ascending=False).round(3)
print(missing_percentage)

calculates the percentage of missing values in each column of the DataFrame df and sorts the values in descending order. It then rounds the percentages to three decimal places and stores the result in the missing_percentage variable. Finally, it prints the missing_percentage variable.

In [ ]:
missing_percentage = (df.isnull().sum() * 100 / len(df)).sort_values(ascending=False)
missing_percentage = missing_percentage[missing_percentage > 50]
print(missing_percentage)

 sorts the values in descending order, and filters out only the columns with missing percentages greater than 50%. The resulting filtered missing_percentage variable is then printed.

The output will contain the column names and their corresponding missing percentages that exceed 50%.

In [ ]:
# checking row_wise null percentage
df_null =pd.DataFrame(df.isnull().sum(axis=1),columns=['num_of_miss_value'])
df_null

That contains the number of missing values in each row of the original DataFrame df. It calculates the sum of missing values along each row by using the axis=1

**Drop all the missing_value which is greater than 50%**

In [ ]:
# Calculate the percentage of missing values for each column
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

 Display the percentage of missing values for each column in the DataFrame. Each column name will be followed by its corresponding missing percentage.

In [ ]:
# Get the columns to drop (more than 50% missing values)
columns_to_drop = missing_percentage[missing_percentage > 50].index
print(columns_to_drop)

In [ ]:
# Drop the columns with more than 50% missing values
df_app = df.drop(columns=columns_to_drop)

In [ ]:
df_app.shape

**miss_value treatment**

understanding best imputation technique for with ~13% of mising value
The target value for this analysis will be

* AMT_REQ_CREDIT_BUREAU_DAY     13.42706
*AMT_REQ_CREDIT_BUREAU_WEEK    13.42706
*AMT_REQ_CREDIT_BUREAU_MON     13.42706
*AMT_REQ_CREDIT_BUREAU_QRT     13.42706
*AMT_REQ_CREDIT_BUREAU_YEAR    13.42706

In [ ]:
# target value type
target_dtype = ['AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR']

In [ ]:
df_app[target_dtype].dtypes

All the target column seen to be 'float' type

Identifying imputation technique for AMT_REQ_CREDIT_BUREAU_DAY

In [ ]:
sns.boxplot(df_app['AMT_REQ_CREDIT_BUREAU_DAY'])

In this boxplot there are alots of outlier , we need futher analysis rest of the data

In [ ]:
df_app['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts()

majority Of columns has 0 as value

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_app['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_app['AMT_REQ_CREDIT_BUREAU_DAY'].describe()

upto 75% value will be zero value and the we got some maximun heigh value i.e 9.0
in above data we said that 99% of zero value ,so we impute the column replacing all the with 0 this techique know as mode imputation

In [ ]:
#Identifying imputation technique for AMT_REQ_CREDIT_BUREAU_DAY
sns.boxplot(df_app['AMT_REQ_CREDIT_BUREAU_WEEK'])

In [ ]:
df_app['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_app['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_app['AMT_REQ_CREDIT_BUREAU_WEEK'].describe()

In [ ]:
#Identifying imputation technique for AMT_REQ_CREDIT_BUREAU_DAY
sns.boxplot(df_app['AMT_REQ_CREDIT_BUREAU_MON'])

In [ ]:
df_app['AMT_REQ_CREDIT_BUREAU_MON'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_app['AMT_REQ_CREDIT_BUREAU_MON'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_app['AMT_REQ_CREDIT_BUREAU_MON'].describe()

In [ ]:
#Identifying imputation technique for AMT_REQ_CREDIT_BUREAU_QRT
sns.boxplot(df_app['AMT_REQ_CREDIT_BUREAU_QRT'])

In [ ]:
df_app['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_app['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_app['AMT_REQ_CREDIT_BUREAU_QRT'].describe()

In [ ]:
#Identifying imputation technique for AMT_REQ_CREDIT_BUREAU_YEAR
sns.boxplot(df_app['AMT_REQ_CREDIT_BUREAU_YEAR'])

In [ ]:
df_app['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_app['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_app['AMT_REQ_CREDIT_BUREAU_YEAR'].describe()

value 0,1,2,3  are represent significant number hence imputing null value of the statistics so best approach should be remove these rows

**2. Understanding Your Variables**

In [ ]:
# Dataset Describe
df_app.describe().transpose()    #we need only numerical colums.

**Variables Description**

In 'AMT_CREDIT' colums :

 * The count is 1922.0, indicating that there are 1922 non-null values in the 'AMT_CREDIT' column.This means that out of all the records in your dataset, 1922 records have a value for 'AMT_CREDIT' while the remaining records may have missing values.

 * The minimum value for 'AMT_CREDIT' is 47,970.0.It indicates the lower boundary or floor value of the 'AMT_CREDIT' data.

 * The 25th percentile value for 'AMT_CREDIT' is 273,636.0. This means that 25% of the 'AMT_CREDIT' values fall below this value. It represents the first quartile of the 'AMT_CREDIT' data distribution.

* 50th Percentile (Median or Q2): The 50th percentile value for 'AMT_CREDIT' is 521,280.0. This is also known as the median value and represents the middle value in the ordered

* 75th Percentile (Q3): The 75th percentile value for 'AMT_CREDIT' is 808,650.0. This means that 75% of the 'AMT_CREDIT' values fall below this value. It represents the third quartile of the 'AMT_CREDIT' data distribution

* Maximum: The maximum value for 'AMT_CREDIT' is 2,286,211.5. This represents the largest observed 'AMT_CREDIT' amount among the 1922 non-null records. It indicates the upper boundary or ceiling value of the 'AMT_CREDIT' data.

**Difference = Mean -Median**

Difference = 599,020.56-521,280.0
Difference =77,740.56

*In this specific case, where the mean (599,020.564776) is higher than the median (521,280.0), it suggests that the 'AMT_CREDIT' distribution is positively skewed.

*The difference between the mean and median (77,740.56) represents the skewness of the distribution.

**Difference = Median - Minimum**
Difference = 521,280.0 - 47,970.0
Difference = 473,310.0

This indicates the range or spread of values between the smallest observed 'AMT_CREDIT' amount and the median.

 summary statistics provide an overview of the distribution, central tendency, and range of values in the 'AMT_CREDIT' column. They help in understanding the typical loan amounts, variability, and the spread of data in the 'AMT_CREDIT' variable

**EDA**

In [ ]:
# Let's visualise the relationship between each pair of variables using pair plots.

In [ ]:
# Randomly sample a subset of the data
sample_size = 1000  # Adjust the sample size as needed
sampled_df = df_app.sample(n=sample_size, random_state=1)
# estimate the possible denstity distrubution in mathamatical base observation on datasheat

In [ ]:
# Select the columns of interest
selected_columns = ['AMT_CREDIT','AMT_GOODS_PRICE','AMT_INCOME_TOTAL',
       'AMT_REQ_CREDIT_BUREAU_YEAR']  # Modify with your desired columns
subset_df = sampled_df[selected_columns]

In [ ]:
# Create pair plots
sns.pairplot(subset_df, diag_kind='kde')

In diangol kind kde (kernel density kde ) in the from of square metrix compression b/w rows by rows

* we see that first rows and first rows are same so on..

* when we compare b/w colums vs columns its we get default result no any information getting from them so we automatic give me histrogram plot with normal distrubution on the table .

* now we see that close histrogram plot we get mean & median are equal now also see that its tails will be equall distrubted but we are appecting the normal distrubution but her is two gaussian and two normal curve overlapping each other this is called mixed of gaussian. so we assumed in algrothim are independent are distrubuted normally. gaussian mean distrubution.

# **Indetifying Outliers for Numerical columns**

**For the outlier analysis of numerical-columns wii focus on**

['AMT_CREDIT',

'AMT_GOODS_PRICE',

'AMT_INCOME_TOTAL',

'AMT_ANNUITY;

'AMT_REQ_CREDIT_BUREAU_YEAR']

In [ ]:
# Outlier Analysis for AMT_CREDIT
sns.boxplot(df_app['AMT_CREDIT']/1000)

In [ ]:
#checking column statistics
(df_app['AMT_CREDIT']/1000).describe()

**IQR METHOD**

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_app['AMT_CREDIT'].quantile(0.75)
IQR = 1.5 * (Q3 - df['AMT_CREDIT'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df[df['AMT_CREDIT'] > upper_limit]) / len(df), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

hence from the boxplot,we can see there are outier in AMT_CREDIT where percentage_above_limit is 2.16 to manage extreme values that could potentially affect your analysis.

**outlier analysis for AMT_GOODS_PRICE'**

In [ ]:
# Outlier Analysis for AMT_CREDIT
sns.boxplot(df_app['AMT_GOODS_PRICE']/1000)

In [ ]:
#checking column statistics
(df_app['AMT_GOODS_PRICE']/1000).describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_app['AMT_GOODS_PRICE'].quantile(0.75)
IQR = 1.5 * (Q3 - df['AMT_GOODS_PRICE'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df[df['AMT_GOODS_PRICE'] > upper_limit]) / len(df), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

**outlier analysis for AMT_INCOME_TOTAL'**

In [ ]:
# Outlier Analysis for AMT_INCOME_TOTAL
sns.boxplot(df_app['AMT_INCOME_TOTAL']/1000)

In [ ]:
#checking column statistics
(df_app['AMT_INCOME_TOTAL']/1000).describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_app['AMT_INCOME_TOTAL'].quantile(0.75)
IQR = 1.5 * (Q3 - df['AMT_INCOME_TOTAL'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df[df['AMT_INCOME_TOTAL'] > upper_limit]) / len(df), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

**outlier analysis for AMT_ANNUITY'**

In [ ]:
# Outlier Analysis for AMT_ANNUITY
sns.boxplot(df_app['AMT_ANNUITY']/1000)

minimum outlier (Q1-1.5*IQR)

Maximum Outlier (Q3+1.5*IQR)

Medium (IQR) B/W 25% AND 75% ( Q1 AND Q3)

In [ ]:
#checking column statistics
(df_app['AMT_ANNUITY']/1000).describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_app['AMT_ANNUITY'].quantile(0.75)
IQR = 1.5 * (Q3 - df['AMT_ANNUITY'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df[df['AMT_ANNUITY'] > upper_limit]) / len(df), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

In [ ]:
# Converting '-ve' values into '+ve' Values
df_app['DAYS_BIRTH'] = df_app['DAYS_BIRTH'].abs()
df_app['DAYS_EMPLOYED'] = df_app['DAYS_EMPLOYED'].abs()
df_app['DAYS_REGISTRATION'] = df_app['DAYS_REGISTRATION'].abs()
df_app['DAYS_ID_PUBLISH'] = df_app['DAYS_ID_PUBLISH'].abs()

In [ ]:
#Converting number of days of birth and employed into years
#by considering average days of a year as 365
df_app.DAYS_BIRTH=df_app.DAYS_BIRTH.values/365
df_app.DAYS_EMPLOYED=df_app.DAYS_EMPLOYED.values/365

In [ ]:
df_app.shape

**RANGE OF INCOME &credit**

In [ ]:
income=[0,25000,50000,75000,100000,125000,150000,175000,200000,225000,250000,275000,300000,325000,
        350000,375000,400000,425000,450000,475000,500000,10000000000]
slots = ['0-25000','25000-50000','50000-75000','75000,100000','100000-125000', '125000-150000',
         '150000-175000','175000-200000','200000-225000','225000-250000','250000-275000','275000-300000',
         '300000-325000','325000-350000','350000-375000','375000-400000','400000-425000','425000-450000',
         '450000-475000','475000-500000','500000 and above']
df_app['Income_range']=pd.cut(df_app['AMT_INCOME_TOTAL'],bins=income,labels=slots)

In [ ]:
df_app.Income_range.value_counts()

In [ ]:
credit = [0,150000,200000,250000,300000,350000,400000,450000,500000,550000,600000,
          650000,700000,750000,800000,850000,900000,1000000000]
creditslots = ['0-150000', '150000-200000','200000-250000', '250000-300000', '300000-350000',
               '350000-400000','400000-450000','450000-500000','500000-550000','550000-600000',
               '600000-650000','650000-700000','700000-750000','750000-800000','800000-850000',
               '850000-900000','900000 and above']

df_app['CREDIT_RANGE'] = pd.cut(df_app.AMT_CREDIT,bins=credit,labels=creditslots)

In [ ]:
df_app.CREDIT_RANGE.value_counts()

**Unique Variable**

In [ ]:
# Check Unique Values for each variable.
numerical_value =[
'AMT_INCOME_TOTA',
'AMT_CREDIT',
'AMT_ANNUITY',
'AMT_GOODS_PRICE',
'DAYS_BIRTH',
 'DAYS_EMPLOYED',
'DAYS_LAST_PHONE_CHANGE']

In [ ]:
# Check Unique Values for each variable.
Categorical_variables=[
'NAME_CONTRACT_TYPE',
'CODE_GENDER',
'FLAG_OWN_CAR',
'FLAG_OWN_REALTY',
'NAME_TYPE_SUITE',
'NAME_INCOME_TYPE',
'NAME_EDUCATION_TYPE',
'NAME_FAMILY_STATUS',
'CNT_CHILDREN' ,
'NAME_HOUSING_TYPE',
'OCCUPATION_TYPE',
'WEEKDAY_APPR_PROCESS_START',
'REG_REGION_NOT_LIVE_REGION',
'REG_REGION_NOT_WORK_REGION',
'LIVE_REGION_NOT_WORK_REGION',
'REG_CITY_NOT_LIVE_CITY',
'REG_CITY_NOT_WORK_CITY',
'LIVE_CITY_NOT_WORK_CITY',
'ORGANIZATION_TYPE',
'EMERGENCYSTATE_MODE']

**Univeriate Analysis for cetegrorical Variable**

In [ ]:
# Number ofcash loans & Revolving loans in the dataset
plt.figure(figsize=(5,5))
df.NAME_CONTRACT_TYPE .value_counts().plot(kind='pie',autopct='%1.2f%%')
plt.ylabel('')
plt.title('cash loans & Revolving loans')

In [ ]:
sns.countplot(x="FLAG_OWN_CAR", hue="TARGET", data=df_app)
plt.yscale('log')
plt.title('Count of Car Owners\n', fontdict={'fontsize': 15, 'fontweight': 7, 'color': 'Blue'})
plt.show()

In [ ]:
sns.countplot(x="CODE_GENDER", hue="TARGET", data=df_app)
plt.yscale('log')
plt.xticks(rotation=30)
plt.title('Gender count\n',fontdict={'fontsize': 15, 'fontweight' : 7, 'color' : 'Blue'})
plt.show()

It can be seen that both number of males and females is same for having payment difficulties

It can also be seen that number of females is more than males for not having payment dificulties

In [ ]:
sns.countplot(x="Income_range", hue="TARGET", data=df_app)
plt.yscale('log')
plt.ylabel("Count in log", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.xlabel("Income Range Values", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.xticks(rotation=90)
plt.title('INCOME RANGE\n',fontdict={'fontsize': 15, 'fontweight' : 7, 'color' : 'Blue'})
plt.show()

From the above plot we can infer that the maximum number of clients without payment difficulties lie in the income range 1.2lac-1.5lac and immediate next income range is 2lac-.25 lac

Most clients wiht payment difficulties lie in the income range is 4.5lac-4.75lac

In [ ]:

for i in Categorical_variables:
    plt.figure(figsize=(20, 10))
    plt.subplot(1, 2, 1)
    df[df['TARGET'] == 0][i].value_counts(normalize=True).plot.bar()
    plt.title(i + ' (target = 0)')
    plt.subplot(1, 2, 2)
    df[df['TARGET'] == 1][i].value_counts(normalize=True).plot.bar()
    plt.title(i + ' (target = 1)')
    plt.show()

**Count of Organization Types**

In [ ]:
sns.set(style='darkgrid')
plt.figure(figsize=[15, 12])

df['ORGANIZATION_TYPE'].value_counts().plot.barh(width=1)
plt.title('Count of Organization Types')
plt.xlabel('Count')
plt.ylabel('Organization Type')
plt.show()

**bivariate analysis**

In [ ]:
# Bivariate analysis - Box plot
plt.figure(figsize=(5, 6))
sns.boxplot(x='NAME_CONTRACT_TYPE', y='AMT_ANNUITY', data=df)
plt.title('Bivariate Analysis: AMT_ANNUITY vs NAME_CONTRACT_TYPE')
plt.xlabel('Contract Type')
plt.ylabel('AMT_ANNUITY')
plt.show()

In [ ]:
sns.scatterplot(x=df['AMT_ANNUITY'],
                y=df['AMT_GOODS_PRICE'],
                data=df,
                hue='TARGET')

plt.title('Scatter Plot: AMT_ANNUITY vs AMT_GOODS_PRICE')
plt.xlabel('AMT_ANNUITY')
plt.ylabel('AMT_GOODS_PRICE')

plt.show()

In [ ]:
#Checking for Income amount of the customers based on their Family type
#and plotted according their Education status
plt.figure(figsize=(12, 8))
sns.boxplot(data=df_app, x="NAME_FAMILY_STATUS", y="AMT_INCOME_TOTAL", hue="NAME_EDUCATION_TYPE")
plt.xticks(rotation=-30)
plt.xlabel("Family Status", fontdict={'fontsize': 12, 'fontweight': 5, 'color': 'Brown'})
plt.ylabel("Total Income Amount", fontdict={'fontsize': 12, 'fontweight': 5, 'color': 'Brown'})
plt.yscale('log')
plt.title('Total Income Amount vs Family Status\n', fontdict={'fontsize': 18, 'fontweight': 10, 'color': 'Blue'})
plt.show()

Family status of 'civil marriage', 'marriage' and 'separated' of Higher education are having higher number of income than others.

Also, higher education and secondary/second special education statuses with family status of 'marriage', 'single or not' and 'civil marriage' are having more outliers. Married for Higher education is having most of the incomes in the lower bound.

In [ ]:
#Checking for Credit amount provided to the customers based on their education
#and plotted according the Contract types of loans they are applying for.
plt.figure(figsize=(12, 8))
sns.boxplot(data=df_app, x="NAME_EDUCATION_TYPE", y="AMT_CREDIT", hue="NAME_CONTRACT_TYPE")
plt.xticks(rotation=-30)
plt.xlabel("Education Status", fontdict={'fontsize': 12, 'fontweight': 5, 'color': 'Brown'})
plt.ylabel("Credit Amount", fontdict={'fontsize': 12, 'fontweight': 5, 'color': 'Brown'})
plt.yscale('log')
plt.title('Credit Amount vs Education Status\n', fontdict={'fontsize': 18, 'fontweight': 10, 'color': 'Blue'})
plt.show()

Education status of higher education and secondary/secondary special have most clients for contract type cash loans

Most number of clients applying for revolving loans are in education status Acadamic degree and higher education

**Top 10 OCCUPATION_TYPE in the dataset**

In [ ]:
# Top 10 OCCUPATION_TYPE in the dataset
plt.figure(figsize=(10,5))
df[~(df['OCCUPATION_TYPE']=='Unknown')].OCCUPATION_TYPE.value_counts().nlargest(10).plot(kind='barh')
plt.title('Top 10 OCCUPATION_TYPE Client with payment difficulties and all other cases')

**Correlation Heatmap of Numerical Columns**

In [ ]:
#correlation analysis for the entire target data
numerical_columns = [
    'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
    'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_LAST_PHONE_CHANGE'
]
# Calculate the correlation matrix
correlation_matrix = df[numerical_columns].corr()

# Plot the correlation heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
plt.title('Correlation Heatmap of Numerical Columns')

plt.show()

#                                         **Previous_application Analysis:**

In [ ]:
df_pre=pd.read_csv('/content/previous_application.csv')

In [ ]:
df_pre.head()

In [ ]:
df_pre.shape

In [ ]:
df_pre.info()

In [ ]:
df_pre.describe()

In [ ]:
df_pre.isnull().sum()/len(df_pre)*100

In [ ]:
df_pre.info()

In [ ]:
#Renaming the columns as convention
pre_df =df_pre.rename({'NAME_CONTRACT_TYPE_x' : 'NAME_CONTRACT_TYPE','AMT_CREDIT_x':'AMT_CREDIT','AMT_ANNUITY_x':'AMT_ANNUITY',
                         'WEEKDAY_APPR_PROCESS_START_x' : 'WEEKDAY_APPR_PROCESS_START','AMT_GOODS_PRICE_x':'AMT_GOODS_PRICE',
                         'HOUR_APPR_PROCESS_START_x':'HOUR_APPR_PROCESS_START','NAME_CONTRACT_TYPE_y':'NAME_CONTRACT_TYPE_PREV',
                         'AMT_CREDIT_y':'AMT_CREDIT_PREV','AMT_ANNUITY_y':'AMT_ANNUITY_PREV','AMT_GOODS_PRICE_y':'AMT_GOODS_PRICE_PREV',
                         'WEEKDAY_APPR_PROCESS_START_y':'WEEKDAY_APPR_PROCESS_START_PREV',
                         'HOUR_APPR_PROCESS_START_y':'HOUR_APPR_PROCESS_START_PREV'}, axis=1)

In [ ]:
pre_df.head()

In [ ]:
pre_df.drop(['SK_ID_CURR','WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
               'FLAG_LAST_APPL_PER_CONTRACT','NFLAG_LAST_APPL_IN_DAY'], axis=1, inplace=True)

In [ ]:
pre_df.info()

In [ ]:
#Checking for null value percentage
pre_df.isnull().sum()/len(pre_df)*100

In [ ]:
# Checking for duplicate records
pre_df.duplicated().value_counts()

In [ ]:
pre_df.columns

SK_ID_PREV: Previous application ID

NAME_CONTRACT_TYPE: Type of contract (e.g., cash loan, consumer loan, revolving loan)

AMT_ANNUITY: Annuity of the previous application

AMT_APPLICATION: Requested amount of the previous application

AMT_CREDIT: Granted amount of the previous application

AMT_DOWN_PAYMENT: Down payment amount of the previous application

AMT_GOODS_PRICE: Price of the goods for which the previous application was applied

WEEKDAY_APPR_PROCESS_START: Weekday on which the previous application was started

HOUR_APPR_PROCESS_START: Hour of the day when the previous application was started

FLAG_LAST_APPL_PER_CONTRACT: Flag indicating if the previous application was the last application for the contract

NFLAG_LAST_APPL_IN_DAY: Flag indicating if the previous application was the last application received on the same day

RATE_DOWN_PAYMENT: Down payment rate of the previous application

RATE_INTEREST_PRIMARY: Interest rate normalized on previous application

RATE_INTEREST_PRIVILEGED: Interest rate normalized on previous application, taking into account the specific interest rate of the previous application

NAME_CASH_LOAN_PURPOSE: Purpose of the cash loan

NAME_CONTRACT_STATUS: Contract status of the previous application

DAYS_DECISION: Number of days from the previous application at which the decision was made

NAME_PAYMENT_TYPE: Payment method that the borrower chose to pay for the previous application

CODE_REJECT_REASON: Reason why the previous application was rejected

NAME_TYPE_SUITE: Who accompanied the borrower when applying for the previous application

NAME_CLIENT_TYPE: Type of client who applied for the previous application

NAME_GOODS_CATEGORY: Category of the goods for which the previous application was applied

NAME_PORTFOLIO: Portfolio name of the previous application

NAME_PRODUCT_TYPE: Product type of the previous application

CHANNEL_TYPE: Channel through which the previous application was applied

SELLERPLACE_AREA: Selling area of the seller's place of the previous application

NAME_SELLER_INDUSTRY: Industry of the seller's place of the previous application

CNT_PAYMENT: Term of previous credit at application in months

NAME_YIELD_GROUP: Grouped interest rate into small, medium, high, and very high of the previous application

PRODUCT_COMBINATION: Detailed product combination of the previous application

DAYS_FIRST_DRAWING: Number of days before the previous application when the first disbursement of the previous loan was made

DAYS_FIRST_DUE: Number of days before the previous application when the first due of the previous loan was expected

DAYS_LAST_DUE_1ST_VERSION: Number of days before the previous application when the first due of the previous loan was expected in its first version

DAYS_LAST_DUE: Number of days before the previous application when the last due date of the previous loan was expected

DAYS_TERMINATION: Number of days before the previous application when the previous loan was terminated

**Data pre-processing:**

* Dealing with outliers

* Handling Missing Values

* Feature Scaling

In [ ]:
#Missing Values/Null Values
pre_df.dtypes

**Handel missing value**

**sorted the variable which contains more than 40% missing value**

In [ ]:
missing_percent = (pre_df.isnull().sum() * 100 / len(pre_df))
.sort_values(ascending=False).round(3)
print(missing_percent)

In [ ]:
missing_percent = (pre_df.isnull().sum() * 100 / len(pre_df)).sort_values(ascending=False)
missing_percent = missing_percent[missing_percent > 40]
print(missing_percent)

In [ ]:
# Get the columns to drop (more than 40% missing values)
columns_to_drop = missing_percent[missing_percent > 40].index
print(columns_to_drop)

**Dropping the unnecessary columns from the data fame as they
are not important:**

In [ ]:
# Drop the columns with more than 40% missing values
missing_percent= df_pre.drop(columns=columns_to_drop,inplace=True)
print('dropped from the df_previous_application')

In [ ]:
df_pre.shape

In [ ]:
df_pre.columns

**Finding the count of various values for the variable:**

In [ ]:
# target value type
tar_dtype = [
'AMT_ANNUITY' ,
'AMT_CREDIT',
'AMT_GOODS_PRICE',
'CNT_PAYMENT'
]

In [ ]:
df_pre[tar_dtype].dtypes

**understanding best imputation technique for with between 20%-40% of mising value The target value for this analysis will be:**

AMT_ANNUITY

CNT_PAYMENT

'AMT_CREDIT',

'AMT_GOODS_PRICE'

**outlier analysis**

**IQR METHOD**

**Identifying imputation technique for AMT_ANNUITY**

In [ ]:
sns.boxplot(df_pre['AMT_ANNUITY'])

In [ ]:
df_pre['AMT_ANNUITY'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_pre['AMT_ANNUITY'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_pre['AMT_ANNUITY'].describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_pre['AMT_ANNUITY'].quantile(0.75)
IQR = 1.5 * (Q3 - df_pre['AMT_ANNUITY'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df_pre[df_pre['AMT_ANNUITY'] > upper_limit]) / len(df_pre), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

In [ ]:
#Identifying imputation technique for
sns.boxplot(df_pre['CNT_PAYMENT'])

In [ ]:
df_pre['CNT_PAYMENT'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_pre['CNT_PAYMENT'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_pre['CNT_PAYMENT'].describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_pre['CNT_PAYMENT'].quantile(0.75)
IQR = 1.5 * (Q3 - df_pre['CNT_PAYMENT'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df_pre[df_pre['CNT_PAYMENT'] > upper_limit]) / len(df_pre), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

In [ ]:
#Identifying imputation technique for
sns.boxplot(df_pre['AMT_CREDIT'])

In [ ]:
df_pre['AMT_CREDIT'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_pre['AMT_CREDIT'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_pre['AMT_CREDIT'].describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_pre['AMT_CREDIT'].quantile(0.75)
IQR = 1.5 * (Q3 - df_pre['AMT_CREDIT'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df_pre[df_pre['AMT_CREDIT'] > upper_limit]) / len(df_pre), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

 analyzing is heavily skewed or concentrated within a certain range, with very few or no values above the upper limit. In such cases, it is expected that the percentage of values exceeding the upper limit would be close to or equal to 10.75

In [ ]:
#Identifying imputation technique for
sns.boxplot(df_pre['AMT_GOODS_PRICE'])

In [ ]:
df_pre['AMT_GOODS_PRICE'].value_counts()

In [ ]:
from matplotlib.colors import Normalize
#convert into percentage of this records
df_pre['AMT_GOODS_PRICE'].value_counts(normalize=True)*100

In [ ]:
#checking statistics of the column
df_pre['AMT_GOODS_PRICE'].describe()

In [ ]:
#maximum value for boxplot
# Calculate the maximum value for the upper whisker of the box plot
Q3 = df_pre['AMT_GOODS_PRICE'].quantile(0.75)
IQR = 1.5 * (Q3 - df_pre['AMT_GOODS_PRICE'].quantile(0.25))
upper_limit = Q3 + IQR
print(upper_limit)

In [ ]:
# Calculate the percentage of values above the upper limit
percentage_above_limit = round(100.0 * len(df_pre[df_pre['AMT_GOODS_PRICE'] > upper_limit]) / len(df_pre), 2)

# Print the result
print("Percentage of values above the upper limit:", percentage_above_limit)

In [ ]:
numerical_columns = ['AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_GOODS_PRICE',
                     'DAYS_DECISION', 'SELLERPLACE_AREA', 'CNT_PAYMENT', 'DAYS_FIRST_DRAWING',
                     'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION']
categorical_columns = ['NAME_CONTRACT_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
                       'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON',
                       'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE',
                       'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION']

In [ ]:
# Plotting numerical columns
for column in numerical_columns:
    plt.figure(figsize=(10, 5))
    plt.subplot(1, 2, 1)
    plt.hist(df_pre[column], bins=20)
    plt.xlabel(column)
    plt.ylabel('Frequency')

    plt.subplot(1, 2, 2)
    plt.boxplot(df_pre[column])
    plt.xlabel(column)

    plt.show()

**Analysis of Variables:**

**Univariate Analysis**

#Plotting a coutplot to check which Contract types are most with respect to Contract status

In [ ]:
sns.countplot(x='NAME_CONTRACT_TYPE', hue='NAME_CONTRACT_STATUS', data=df_pre)
plt.title('Count of Contract Types W.R.T Contract Status\n', fontdict={'fontsize': 18, 'fontweight': 10, 'color': 'Blue'})
plt.yscale('log')
plt.legend(bbox_to_anchor=(1.32, 1))
plt.show()

Contract type cash loans are maximum in number where all kinds of contract statuses are more than contract type revolving loans

In [ ]:
sns.countplot(x='NAME_CONTRACT_TYPE', hue='NAME_PRODUCT_TYPE', data=df_pre)
plt.title('Count of Contract Types W.R.T NAME_PRODUCT_TYPE\n', fontdict={'fontsize': 18, 'fontweight': 10, 'color': 'Blue'})
plt.yscale('log')
plt.legend(bbox_to_anchor=(1.32, 1))
plt.show()

Most clients with all kinds of NAME_PRODUCT_TYPE apply mostly for cash loans rather than revolving loans

In [ ]:
df_pre.groupby(['NAME_YIELD_GROUP']).sum().plot(
    kind='pie', y='AMT_CREDIT', autopct='%1.0f%%')

In [ ]:
# Create the histogram
sns.histplot(df_pre.NAME_CONTRACT_TYPE)
plt.show()

In [ ]:
# Assign a figure size
plt.figure(figsize = (10, 5))

# Create the box plots
sns.boxplot(data = df_pre, x = 'NAME_CONTRACT_TYPE', y = 'AMT_ANNUITY')
plt.show()

**Bivariate Analysis**

In [ ]:
#Checking for Amount credited previously against Purpose of loan with respect to
plt.figure(figsize=(7,7),dpi=100)
sns.boxplot(data=pre_df,y='AMT_CREDIT',x= 'NAME_CONTRACT_TYPE',hue='NAME_PAYMENT_TYPE')
plt.xticks(rotation=90)
plt.yscale('log')
plt.ylabel("AMT_CREDIT_PREV", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.xlabel("count", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.yticks(rotation=30)
plt.title('Distribution of Loan Purpose w.r.t TARGET\n',fontdict={'fontsize': 15, 'fontweight' : 7, 'color' : 'Blue'})
plt.show()

The credit amount of Loan purposes like 'Buying a home','Buying a land','Buying a new car' and'Building a house' is higher being a 'commercial associate' and even in general irrespective of income type.
Income type of state servants haveing no amount of credit applied for purpose of Money for third person or a Hobby.
Most of the commercial associates have refuesed to provide purpose of credit

In [ ]:
#Checking for Amount Credited vs housing type with respect to target
plt.figure(figsize=(8,6))
sns.barplot(data=df_pre,y='AMT_ANNUITY',hue='NAME_CLIENT_TYPE',x='NAME_SELLER_INDUSTRY')
plt.xticks(rotation=90)
plt.ylabel("AMT_CREDIT_PREV", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.xlabel("count", fontdict={'fontsize': 12, 'fontweight' : 5, 'color' : 'Brown'})
plt.yticks(rotation=30)
plt.title('Distribution of Amount Credited previously  vs NAME_SELLER_INDUSTRY Type w.r.t TARGET\n',fontdict={'fontsize': 15, 'fontweight' : 7, 'color' : 'Blue'})
plt.show()

we can conclude that bank should avoid giving loans to the housing type of office appartment and co-op apartment as they are having difficulties in payment.
Bank can focus mostly on housing type with parents or House or appartment or muncipal appartment for successful payments.

**Bivariate**

It involves the analysis of two variables, for the purpose of determining the empirical relationship between them. Bivariate analysis can be helpful in testing simple hypotheses of association

In [ ]:
df_pre.columns

In [ ]:
plt.figure(figsize=(8,8))
correlation = df_pre.corr()
sns.heatmap(abs(correlation), annot=True, cmap='coolwarm')

We can observe correlations of different variales plotted in the above graph and draw almost similar inference as we drew in Inference 1.00, with few extra variables

**conculsion:**

Banks should focus more on contract type Student ,pensioner and Businessman with housing type other than Co-op apartment and 'office appartment' for successful payments.
Banks should focus less on income types maternity leave and working as they have most number of unsuccessful payments
In loan purpose Repairs:

* Although having higher number of rejection in loan purposes with 'Repairs' we can observe difficulties in payment.
* There are few places where loan payment diffuculty is significantly high.
* Bank should continue to be cautious while giving loan for this purpose.
Bank can focus mostly on housing type with parents , House or apartment and municipal apartment with purpuse of education, buying land, buying a garage, purchase of electronic equipment and some other purposes with target0 significantly more than target1 for successful payments.

* Banks can offer more offers to clients who are students and pensioners as they take all offers and are more likely to pay back